<% provide(:title, "Products") %>

<h1>Products</h1>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="product_form">
        <%= render 'shared/product_form' %>
      </section>
    </aside>
  </div>


<ul class="products">
  <%= render @products %>
</ul>

<% else %>


<ul class="products">
  <%= render @products %>
</ul>

<% end %>



